In [18]:
import pandas as pd
import numpy as np
from string import punctuation
from fuzzywuzzy import fuzz
from nltk import word_tokenize

In [2]:
df = pd.read_csv('result_tar.gz', compression='gzip', sep='\t', error_bad_lines=False)

b'Skipping line 37039: expected 12 fields, saw 15\nSkipping line 45611: expected 12 fields, saw 15\n'
b'Skipping line 354339: expected 12 fields, saw 18\nSkipping line 360804: expected 12 fields, saw 102\nSkipping line 360819: expected 12 fields, saw 78\nSkipping line 379126: expected 12 fields, saw 14\nSkipping line 444446: expected 12 fields, saw 16\nSkipping line 449079: expected 12 fields, saw 16\nSkipping line 450250: expected 12 fields, saw 15\n'
b'Skipping line 481374: expected 12 fields, saw 18\nSkipping line 510619: expected 12 fields, saw 20\nSkipping line 512271: expected 12 fields, saw 14\nSkipping line 514317: expected 12 fields, saw 15\nSkipping line 519707: expected 12 fields, saw 40\n'
b'Skipping line 538495: expected 12 fields, saw 13\n'
b'Skipping line 765901: expected 12 fields, saw 56\nSkipping line 773310: expected 12 fields, saw 43\n'
b'Skipping line 805899: expected 12 fields, saw 13\nSkipping line 868492: expected 12 fields, saw 21\nSkipping line 871801: expected 12 fields, saw 16\n'
b'Skipping line 903099: expected 12 fields, saw 13\nSkipping line 903150: expected 12 fields, saw 13\nSkipping line 903155: expected 12 fields, saw 13\nSkipping line 926112: expected 12 fields, saw 13\n'
b'Skipping line 952511: expected 12 fields, saw 14\nSkipping line 954085: expected 12 fields, saw 13\nSkipping line 956504: expected 12 fields, saw 40\nSkipping line 981135: expected 12 fields, saw 13\nSkipping line 983460: expected 12 fields, saw 16\nSkipping line 985000: expected 12 fields, saw 15\nSkipping line 986754: expected 12 fields, saw 13\nSkipping line 986828: expected 12 fields, saw 13\n'
b'Skipping line 1334533: expected 12 fields, saw 13\nSkipping line 1337066: expected 12 fields, saw 16\nSkipping line 1343528: expected 12 fields, saw 13\nSkipping line 1351606: expected 12 fields, saw 14\n'
b'Skipping line 1376142: expected 12 fields, saw 16\nSkipping line 1376408: expected 12 fields, saw 15\nSkipping line 1389213: expected 12 fields, saw 59\nSkipping line 1401635: expected 12 fields, saw 23\n'
b'Skipping line 1762082: expected 12 fields, saw 13\nSkipping line 1763155: expected 12 fields, saw 16\n'
C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df.drop(["url", "video_url", "source_name", "author_name"], axis=1)

In [4]:
df = df.dropna()

In [5]:
df = df.drop_duplicates()

In [6]:
df = df.reset_index(drop=True)

In [19]:
df.head(5)

,result.tsv,odd,tip_name,bookmaker_name,match_date_time,league_name_in_russian,team_of_season_1_name_in_russian,team_of_season_2_name_in_russian
0,Сборная Турции продолжает свою дорогу на Чемпи...,1.65,"- 1,5",Олимп,2019-06-02 18:00:00,Международные товарищеские матчи,Турция,Узбекистан
1,Двадцать девятого числа состоится один весьма ...,1.52,"– тотал меньше 2,5",Winline,2019-06-28 23:20:00,Кубок Америки,Колумбия,Чили
2,АЗ Алкмар В первом матче голландский клуб созд...,1.85,АЗ Алкмар забьет в обоих таймах,Лига Ставок,2019-08-15 18:30:00,Лига Европы УЕФА,АЗ Алкмаар,Мариуполь
3,"«Сачхере» — «Абердин» И тот, и другой клуб оде...",1.45,Айнтрахт - 3 и более гола,Лига Ставок,2019-07-25 17:00:00,Лига Европы УЕФА,Флора,Айнтрахт Франкфурт
4,Я предполагаю ничью в этом матче с забитыми мя...,5,Арсенал забьет первым и не выиграет,1xСтавка,2019-05-09 19:00:00,Лига Европы УЕФА,Валенсия,Арсенал

### Нечеткий поиск по командам 1

In [ ]:
%%time
tokens = []
teams1_match = np.zeros(df.shape[0])
for i, text in enumerate(df['result.tsv'].values):
    txt_tokens = []
    txt_tokens.append(word_tokenize(text))
    for text in txt_tokens:
        for t in text:
            if fuzz.ratio(df['team_of_season_1_name_in_russian'][i], t) > 70:
                teams1_match[i] = 1

In [ ]:
df['fuzzy_match_for_teams1'] = teams1_match

### Нечеткий поиск по командам 2

In [ ]:
%%time
tokens = []
teams2_match = np.zeros(df.shape[0])
for i, text in enumerate(df['result.tsv'].values):
    txt_tokens = []
    txt_tokens.append(word_tokenize(text))
    for text in txt_tokens:
        for t in text:
            if fuzz.ratio(df['team_of_season_2_name_in_russian'][i], t) > 70:
                teams2_match[i] = 1

In [ ]:
df['fuzzy_match_for_teams2'] = teams1_match