# Natasha

Natasha — библиотека для поиска и извлечения именованных сущностей (Named-entity recognition) из текстов на русском языке. В библиотеке собраны грамматики и словари для парсера Yargy.

In [1]:
import pandas as pd
from string import punctuation

In [85]:
from natasha import (NamesExtractor, SimpleNamesExtractor, PersonExtractor, LocationExtractor, AddressExtractor, 
                     OrganisationExtractor, DatesExtractor, MoneyExtractor, MoneyRateExtractor, MoneyRangeExtractor)

In [2]:
df = pd.read_csv('result.tar.gz', compression='gzip', sep='\t', error_bad_lines=False)

b'Skipping line 37039: expected 12 fields, saw 15\nSkipping line 45611: expected 12 fields, saw 15\n'
b'Skipping line 354339: expected 12 fields, saw 18\nSkipping line 360804: expected 12 fields, saw 102\nSkipping line 360819: expected 12 fields, saw 78\nSkipping line 379126: expected 12 fields, saw 14\nSkipping line 444446: expected 12 fields, saw 16\nSkipping line 449079: expected 12 fields, saw 16\nSkipping line 450250: expected 12 fields, saw 15\n'
b'Skipping line 481374: expected 12 fields, saw 18\nSkipping line 510619: expected 12 fields, saw 20\nSkipping line 512271: expected 12 fields, saw 14\nSkipping line 514317: expected 12 fields, saw 15\nSkipping line 519707: expected 12 fields, saw 40\n'
b'Skipping line 538495: expected 12 fields, saw 13\n'
b'Skipping line 765901: expected 12 fields, saw 56\nSkipping line 773310: expected 12 fields, saw 43\n'
b'Skipping line 805899: expected 12 fields, saw 13\nSkipping line 868492: expected 12 fields, saw 21\nSkipping line 871801: expected 12 fields, saw 16\n'
b'Skipping line 903099: expected 12 fields, saw 13\nSkipping line 903150: expected 12 fields, saw 13\nSkipping line 903155: expected 12 fields, saw 13\nSkipping line 926112: expected 12 fields, saw 13\n'
b'Skipping line 952511: expected 12 fields, saw 14\nSkipping line 954085: expected 12 fields, saw 13\nSkipping line 956504: expected 12 fields, saw 40\nSkipping line 981135: expected 12 fields, saw 13\nSkipping line 983460: expected 12 fields, saw 16\nSkipping line 985000: expected 12 fields, saw 15\nSkipping line 986754: expected 12 fields, saw 13\nSkipping line 986828: expected 12 fields, saw 13\n'
b'Skipping line 1334533: expected 12 fields, saw 13\nSkipping line 1337066: expected 12 fields, saw 16\nSkipping line 1343528: expected 12 fields, saw 13\nSkipping line 1351606: expected 12 fields, saw 14\n'
b'Skipping line 1376142: expected 12 fields, saw 16\nSkipping line 1376408: expected 12 fields, saw 15\nSkipping line 1389213: expected 12 fields, saw 59\nSkipping line 1401635: expected 12 fields, saw 23\n'
b'Skipping line 1762082: expected 12 fields, saw 13\nSkipping line 1763155: expected 12 fields, saw 16\n'
D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df.drop(["url", "video_url", "source_name", "author_name"], axis=1)
df = df.dropna()
df = df.drop_duplicates()

## NamesExtractor

In [58]:
name = NamesExtractor()

In [94]:
for text in df['result.tsv'][:10]:
    matches = name(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

Купер
Купера
Карлуша
Кейруша
Рустам Худжамов
Идрисси
Боаду
Игорь Тищенко
Атлетико
Симионе
Лунин
Грозный
Рахимова
Хольштейн Киель
Дунайська
Грозный
Глушакова
Ахмат
Михаил
Мархеля
Нехайчик
Гордейчук
Илья Шкурин
Клавана
Дмитриев
Рагнара
Клавана

## SimpleNamesExtractor

In [86]:
s_name= SimpleNamesExtractor()

In [97]:
for text in df['result.tsv'][:1]:
    matches = s_name(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

свою
и
очередными
в
не
больших
и
просто
неделю
Турки
стали
самой
слабой
В
Лиги
три
из
с
очками
и
забитыми
голами
В
уже
один
ниже
а
максимальное
очков
после
и
делит
первое
с
Францией
Тем
не
уже
неделе
с
Чемпионом
Мира
а
выезд
в
суровую
с
Францией
и
не
хорошего
турки
максимум
из
с
трудом
с
основной
и
биться
поля
В
голове
о
том
нужно
сильная
по
меркам
в плей
офф
В
в
второе
в
с
Австралии
ставит
большие
цели
к
ведет
Купер
мира
К
серьезно
Иногда
Уругвая
с
свой
Иногда
фоне
по
было
в Марте
Китая
победу
в
У
четкое
букмекеры
а
в
хорошо
и
к
высокого
При
Купера
не
плотный
календарь
тренер
костяк
в
и
большим
турки
в
основном
и
биться
победу
с
Ф
в

## PersonExtractor

In [88]:
person = PersonExtractor()

In [93]:
for text in df['result.tsv'][:10]:
    matches = person(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

после двух матчей и
Купер
Купера
Карлуша
Кейруша
После такой заявки стало
После трех туров
Рустам Худжамов
Идрисси
Боаду
Игорь Тищенко
футболисты готовы
Атлетико
футболиста и
Симионе
Лунин
Грозный
Рахимова
Хольштейн Киель
Дунайська
Грозный
футболиста Глушакова
Ахмат
Михаил
Мархеля
После победного матча в
футболистов в
Нехайчик
Гордейчук
Илья Шкурин
Клавана
Дмитриев
футболисты выше
Рагнара
Клавана

## LocationExtractor

In [98]:
loc = LocationExtractor()

In [100]:
for text in df['result.tsv'][:5]:
    matches = loc(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

Турции
Европы
Узбекистан
Турция
Европы
Францией
суровую Исландию
Францией
Узбекистаном
Узбекистан
Азии
Австралии
Египет
Уругвая
Азии
Китая
Узбекистана
сборной Турции
Узбекистан
Америки
Колумбия
Чили
Парагвая
Аргентина
стартовом туре
тура
Красные
Уругвая
Роха
Кавани
Алкмар
Мариуполя
Мариуполь
Мариуполь
Алкмар
Одессе
Мариуполя
Сачхере
Абердин
шотландский
шотландского
Шотландии
Грузии
Абердину
Европы
эстонским
Алкмар
Европы
Алкмара
Швеции
Алкмару
Валенсия
этой паре
Валенсия
Валенсия
России

##  AddressExtractor

In [101]:
address = AddressExtractor()

In [105]:
for text in df['result.tsv'][:100]:
    matches = address(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

## OrganisationExtractor

In [106]:
org = OrganisationExtractor()

In [109]:
for text in df['result.tsv'][:30]:
    matches = org(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

Айнтрахт
Айнтрахт
Челси
Айнтрахт
Бензема
Бензема
ЦСКА
Стреда
Марибор
Челси
группе «С»
группе «С»
Окжетпеса
Хераклеса
Аякса
Гармаша в
ЦСКА
ЦСКА
Челси
ЦСКА в квалификации Лиги чемпионов
букмекерской компании «Фонбет»
букмекерской компании «Фонбет»
букмекерских компаний
букмекерской компании «Фонбет»
букмекерской компании «Фонбет»

## DatesExtractor

In [110]:
date = DatesExtractor()

In [111]:
for text in df['result.tsv'][:30]:
    matches = date(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

2016 года
10 октября 2019 года
6 сентября
09 Октября
10 Октября
марте 2019 года
феврале 2018 года
23 августа

## MoneyExtractor

In [112]:
money = MoneyExtractor()

In [113]:
for text in df['result.tsv'][:30]:
    matches = money(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

1000 руб
10000 руб
9 млн €
3.5 миллиона евро

## MoneyRateExtractor

In [114]:
rate = MoneyRateExtractor()

In [115]:
for text in df['result.tsv'][:30]:
    matches = rate(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

## MoneyRangeExtractor

In [116]:
money_r = MoneyRangeExtractor()

In [118]:
for text in df['result.tsv'][:30]:
    matches = money_r(text)
    for match in matches:
        start, stop = match.span
        print(text[start:stop])

4-3
2-1
4-3
2-7
4-4
4-4
5-6
339-257
1.72-1.3
1-2
10 (2017/2018
10 (2018/2019
8-7
1-2
3-10
1-2
1,66 1000 руб
1,85 10000 руб
1-0
0-4
1-0
2015 — 1
18-0
53-73
1-3
1.6-1.63
1 до 38
30-40