In [2]:
import gensim
import pandas as pd
import nltk
import re
from collections import defaultdict

In [3]:
model = gensim.models.KeyedVectors.load("araneum_none_fasttextcbow_300_5_2018.model")

In [4]:
df = pd.read_csv('result.tar.gz', compression='gzip', sep='\t', error_bad_lines=False)

b'Skipping line 37039: expected 12 fields, saw 15\nSkipping line 45611: expected 12 fields, saw 15\n'
b'Skipping line 354339: expected 12 fields, saw 18\nSkipping line 360804: expected 12 fields, saw 102\nSkipping line 360819: expected 12 fields, saw 78\nSkipping line 379126: expected 12 fields, saw 14\nSkipping line 444446: expected 12 fields, saw 16\nSkipping line 449079: expected 12 fields, saw 16\nSkipping line 450250: expected 12 fields, saw 15\n'
b'Skipping line 481374: expected 12 fields, saw 18\nSkipping line 510619: expected 12 fields, saw 20\nSkipping line 512271: expected 12 fields, saw 14\nSkipping line 514317: expected 12 fields, saw 15\nSkipping line 519707: expected 12 fields, saw 40\n'
b'Skipping line 538495: expected 12 fields, saw 13\n'
b'Skipping line 765901: expected 12 fields, saw 56\nSkipping line 773310: expected 12 fields, saw 43\n'
b'Skipping line 805899: expected 12 fields, saw 13\nSkipping line 868492: expected 12 fields, saw 21\nSkipping line 871801: expected 12 fields, saw 16\n'
b'Skipping line 903099: expected 12 fields, saw 13\nSkipping line 903150: expected 12 fields, saw 13\nSkipping line 903155: expected 12 fields, saw 13\nSkipping line 926112: expected 12 fields, saw 13\n'
b'Skipping line 952511: expected 12 fields, saw 14\nSkipping line 954085: expected 12 fields, saw 13\nSkipping line 956504: expected 12 fields, saw 40\nSkipping line 981135: expected 12 fields, saw 13\nSkipping line 983460: expected 12 fields, saw 16\nSkipping line 985000: expected 12 fields, saw 15\nSkipping line 986754: expected 12 fields, saw 13\nSkipping line 986828: expected 12 fields, saw 13\n'
b'Skipping line 1334533: expected 12 fields, saw 13\nSkipping line 1337066: expected 12 fields, saw 16\nSkipping line 1343528: expected 12 fields, saw 13\nSkipping line 1351606: expected 12 fields, saw 14\n'
b'Skipping line 1376142: expected 12 fields, saw 16\nSkipping line 1376408: expected 12 fields, saw 15\nSkipping line 1389213: expected 12 fields, saw 59\nSkipping line 1401635: expected 12 fields, saw 23\n'
b'Skipping line 1762082: expected 12 fields, saw 13\nSkipping line 1763155: expected 12 fields, saw 16\n'
/home/neant/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

Задание 3 - изменение прямого мэтча
Необходимо проверить наличие лейблов колонок odd, tip_name, bookmaker_name, match_date_time, league_name_in_russian, team_of_season_1_name_in_russian и team_of_season_2_name_in_russian в текстах прогнозов. Создать новые колонки для каждого лейбла и поместить в них 1 или 0 в зависимости от того есть данный лейбл в тексте прогноза или нет.

In [7]:
df.rename(columns={'result.tsv': 'text'}, inplace=True)

In [8]:
df = df[['text', 'odd', 'tip_name', 'bookmaker_name', 'match_date_time', 'league_name_in_russian',
    'team_of_season_1_name_in_russian', 'team_of_season_2_name_in_russian']]

In [9]:
def tokenize(text):
    text = text.replace('\xa0', '')
    text = text.replace('«', '')
    text = text.replace('»', '')
    text = re.findall(r'[А-Яа-яA-Za-z0-9]+', text)
    text = [word.lower() for word in text]
    return text

def ngram_range(text, min_gram=1, max_gram=3):
    text = tokenize(text)
    if len(text) == 1 or len(text) == 0:
        return text
    grams = nltk.everygrams(text, min_gram, max_gram)    
    grams = [' '.join(gram) for gram in grams]
    grams = set(grams)
    return grams

In [10]:
df['grams'] = df.text.apply(ngram_range)

Вообще так делать неправильно, но некогда было разбираться как сделать правильно

In [11]:
def direct_match(df, gram_col, col_to_compare):
    result = []
    for x, y in zip(df[gram_col], df[col_to_compare]):
        inter = x.intersection(ngram_range(y)) # частичное совпадение
        #inter = y.lower() in x # полное совпадение
        result.append(bool(inter))
        new_col = col_to_compare + '_found'
    df[new_col] = result

In [12]:
direct_match(df, 'grams', 'team_of_season_1_name_in_russian')

In [13]:
direct_match(df, 'grams', 'team_of_season_2_name_in_russian')

In [14]:
df.loc[~df['team_of_season_2_name_in_russian_found']].head()

,text,odd,tip_name,bookmaker_name,match_date_time,league_name_in_russian,team_of_season_1_name_in_russian,team_of_season_2_name_in_russian,grams,team_of_season_1_name_in_russian_found,team_of_season_2_name_in_russian_found
3199,Играет Парагвай с Катаром. На мой взгляд тут П...,1.85,1 тайм - Парагвай забьёт,Фонбет,2019-06-16 19:00:00,Кубок Америки,Парагвай,Катар,"{первом тайме не, исключительно, катаром на мо...",True,False
3204,Играет Парагвай с Катаром. На мой взгляд тут П...,2.47,1 тайм больше 1,BETCITY,2019-06-16 19:00:00,Кубок Америки,Парагвай,Катар,"{первом тайме не, исключительно, катаром на мо...",True,False
5378,«Торпедо» сейчас в полном порядке. Команда воз...,2,1-й тайм - Х,Лига Ставок,2019-09-25 16:30:00,Кубок,Торпедо Москва,Крылья Советов,"{не будет, с обороной тоже, что будет, с крыль...",True,False
11111,Тур посреди недели всегда является сложным исп...,2.25,1X,Леон,2019-04-02 19:30:00,Примера,Вильярреал,Барселона,"{на вильярреал не, не ко двору, двору для барс...",True,False
15718,"Так уж сложилось, что матчи за третье место вс...",1.8,1X,Леон,2019-06-09 13:00:00,Лига Наций УЕФА,Швейцария,Англия,"{победа они уже, англии была в, втором смотрел...",True,False

In [15]:
df['model'] = df.tip_name.apply(lambda x: model[x])

Можно использовать что-то такое, чтобы найти похожие.

In [17]:
import numpy as np

In [19]:
from itertools import combinations

In [24]:
from scipy.spatial.distance import cosine

In [39]:
result = {}
for i, j in combinations(df.sample(100).index.values, 2):
    result[(i, j)] = cosine(df.model[i].reshape(-1, 1), df.model[j].reshape(-1, 1))

In [40]:
import operator

In [55]:
sorted(result.items(), key=operator.itemgetter(1))[:20]

[((494670, 481915), 0.0),
 ((494670, 491097), 0.0),
 ((494670, 493995), 0.0),
 ((294516, 296312), 0.0),
 ((294516, 305983), 0.0),
 ((294516, 306415), 0.0),
 ((294516, 304519), 0.0),
 ((294516, 308303), 0.0),
 ((294516, 305163), 0.0),
 ((294516, 292828), 0.0),
 ((294516, 309652), 0.0),
 ((294516, 304408), 0.0),
 ((358693, 396489), 0.0),
 ((358693, 413955), 0.0),
 ((358693, 379545), 0.0),
 ((358693, 381780), 0.0),
 ((358693, 429436), 0.0),
 ((358693, 430003), 0.0),
 ((358693, 357505), 0.0),
 ((358693, 406447), 0.0)]

In [54]:
df.tip_name[868315]

'Х2 и обе забьют'

In [53]:
df.tip_name[242994]

'Обе забьют'