**Redefining everything from the beginning and separating the df by language of the description**

Definition of a new function that check language

In [0]:
def which_language (text):
  import re
  if bool(re.search('[\u0400-\u04FF]', text)) == True:
    return 'russian'
  else:
    return 'english'

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('result.tar.gz', sep='\t', error_bad_lines=False)

b'Skipping line 37039: expected 12 fields, saw 15\nSkipping line 45611: expected 12 fields, saw 15\n'
b'Skipping line 354339: expected 12 fields, saw 18\nSkipping line 360804: expected 12 fields, saw 102\nSkipping line 360819: expected 12 fields, saw 78\nSkipping line 379126: expected 12 fields, saw 14\nSkipping line 444446: expected 12 fields, saw 16\nSkipping line 449079: expected 12 fields, saw 16\nSkipping line 450250: expected 12 fields, saw 15\n'
b'Skipping line 481374: expected 12 fields, saw 18\nSkipping line 510619: expected 12 fields, saw 20\nSkipping line 512271: expected 12 fields, saw 14\nSkipping line 514317: expected 12 fields, saw 15\nSkipping line 519707: expected 12 fields, saw 40\n'
b'Skipping line 538495: expected 12 fields, saw 13\n'
b'Skipping line 765901: expected 12 fields, saw 56\nSkipping line 773310: expected 12 fields, saw 43\n'
b'Skipping line 805899: expected 12 fields, saw 13\nSkipping line 868492: expected 12 fields, saw 21\nSkipping line 871801: expected 12 fields, saw 16\n'
b'Skipping line 903099: expected 12 fields, saw 13\nSkipping line 903150: expected 12 fields, saw 13\nSkipping line 903155: expected 12 fields, saw 13\nSkipping line 926112: expected 12 fields, saw 13\n'
b'Skipping line 952511: expected 12 fields, saw 14\nSkipping line 954085: expected 12 fields, saw 13\nSkipping line 956504: expected 12 fields, saw 40\nSkipping line 981135: expected 12 fields, saw 13\nSkipping line 983460: expected 12 fields, saw 16\nSkipping line 985000: expected 12 fields, saw 15\nSkipping line 986754: expected 12 fields, saw 13\nSkipping line 986828: expected 12 fields, saw 13\n'
b'Skipping line 1334533: expected 12 fields, saw 13\nSkipping line 1337066: expected 12 fields, saw 16\nSkipping line 1343528: expected 12 fields, saw 13\nSkipping line 1351606: expected 12 fields, saw 14\n'
b'Skipping line 1376142: expected 12 fields, saw 16\nSkipping line 1376408: expected 12 fields, saw 15\nSkipping line 1389213: expected 12 fields, saw 59\nSkipping line 1401635: expected 12 fields, saw 23\n'
b'Skipping line 1762082: expected 12 fields, saw 13\nSkipping line 1763155: expected 12 fields, saw 16\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df = df.drop(["url", "video_url", "source_name", "author_name"], axis=1)

In [0]:
df = df.dropna()

In [0]:
df = df.drop_duplicates()

In [0]:
df = df.reset_index(drop=True)

In [0]:
df.head(10)

                                          result.tsv  ... team_of_season_2_name_in_russian
0  Сборная Турции продолжает свою дорогу на Чемпи...  ...                       Узбекистан
1  Двадцать девятого числа состоится один весьма ...  ...                             Чили
2  АЗ Алкмар В первом матче голландский клуб созд...  ...                        Мариуполь
3  «Сачхере» — «Абердин» И тот, и другой клуб оде...  ...               Айнтрахт Франкфурт
4  Я предполагаю ничью в этом матче с забитыми мя...  ...                          Арсенал
5  Июль подходит к концу. Скоро мадридское дерби ...  ...                  Атлетико Мадрид
6  «Ахмат», который доставил много проблем команд...  ...                        Краснодар
7  Никто толком не представляет, в каких составах...  ...                          Бавария
8  Матч вроде бы товарищеский, но - это и репутац...  ...                            Челси
9  Беларусь – Эстония: прогноз и ставка на матч 1...  ...                          Эстония

[10 rows x 8 columns]

Loop to create a list of languages of each description

In [0]:
lang=[]
for i,text in enumerate(df['result.tsv'].values): 
  lang.append(which_language(str(text)))

Based on the language list, we add a new column to the dataframe that contain the language of the description

In [0]:
df['Language'] = lang

Split the dataframe based on the language column

In [0]:
grouped=df.groupby('Language')

**Create two new dataframe, each contain just one language, those groups do not contain the language column**

In [0]:
for name, group in grouped: 
  if name == 'english': 
    english = group.drop('Language',axis=1) 
  else: 
    russian = group.drop('Language',axis=1)

**Direct_matching the new datasetes:**

**Match on team1**

In [0]:
teams1_match = np.zeros(english.shape[0])

In [0]:
for i, team1 in enumerate(english['team_of_season_1_name_in_russian']):
  if team1 in english['result.tsv'].values[i] :
    teams1_match[i] = 1 
  else: 
    teams1_match[i] = 0

In [0]:
english['direct_match_for_teams1'] = teams1_match

In [0]:
english['direct_match_for_teams1'].value_counts()

0.0    106940
1.0        37
Name: direct_match_for_teams1, dtype: int64

In [0]:
success = english[english['direct_match_for_teams1'] == 1].shape[0]
print(success)

37

In [0]:
all_vals = english['direct_match_for_teams1'].shape[0]
print(all_vals)

106977

In [0]:
baseline_team1 = success / all_vals
print(baseline_team1)

0.000345868738139974

**Match on team2**

In [0]:
teams2_match = np.zeros(english.shape[0])

In [0]:
for i, team2 in enumerate(english['team_of_season_2_name_in_russian']):
  if team2 in english['result.tsv'].values[i] :
    teams2_match[i] = 1 
  else: 
    teams2_match[i] = 0

In [0]:
english['direct_match_for_teams2'] = teams2_match

In [0]:
english['direct_match_for_teams2'].value_counts()

0.0    106937
1.0        40
Name: direct_match_for_teams2, dtype: int64

In [0]:
success2 = english[english['direct_match_for_teams2'] == 1].shape[0]
print(success2)

40

In [0]:
baseline_team2 = success2 / all_vals
print(baseline_team2)

0.00037391214934051246

**Match by league**

In [0]:
leagues_match = np.zeros(english.shape[0])

In [0]:
for i, league in enumerate(english['league_name_in_russian']):
  if league in english['result.tsv'].values[i] :
    leagues_match[i] = 1 
  else: 
    leagues_match[i] = 0

In [0]:
english['direct_match_for_leagues'] = leagues_match

In [0]:
english['direct_match_for_leagues'].value_counts()

0.0    106977
Name: direct_match_for_leagues, dtype: int64

In [0]:
success_l = english[english['direct_match_for_leagues'] == 1].shape[0]
print(success_l)

0

In [0]:
baseline_league = success_l / all_vals
print(baseline_league)

0.0

**Match by Bookmaker**

In [0]:
bookmaker_match = np.zeros(english.shape[0])

In [0]:
for i, bookmaker in enumerate(english['bookmaker_name']):
  if bookmaker in english['result.tsv'].values[i] :
    bookmaker_match[i] = 1 
  else: 
    bookmaker_match[i] = 0

In [0]:
english['direct_match_for_bookmakers'] = bookmaker_match

In [0]:
english['direct_match_for_bookmakers'].value_counts()

0.0    106973
1.0         4
Name: direct_match_for_bookmakers, dtype: int64

In [0]:
success_b = english[english['direct_match_for_bookmakers'] == 1].shape[0]
print(success_b)

4

In [0]:
baseline_bookmaker = success_b / all_vals
print(baseline_bookmaker)

3.7391214934051244e-05

**Match by coefficients (odd):**

In [0]:
odd_match = np.zeros(english.shape[0])

In [0]:
for i, odd in enumerate(english['odd']):
  if str(odd) in english['result.tsv'].values[i]:
    odd_match[i] = int(1) 
  else: 
    odd_match[i] = int(0)

In [0]:
english['direct_match_for_odds'] = odd_match

In [0]:
english['direct_match_for_odds'].value_counts()

0.0    105074
1.0      1903
Name: direct_match_for_odds, dtype: int64

In [0]:
success_c = english[english['direct_match_for_odds'] == 1].shape[0]
print(success_c)

1903

In [0]:
baseline_odds = success_c / all_vals
print(baseline_odds)

0.01778887050487488

**Match on tip-name (betting text):**

In [0]:
tip_match = np.zeros(english.shape[0])

In [0]:
for i, tip in enumerate(english['tip_name']):
  if tip in english['result.tsv'].values[i] :
    tip_match[i] = 1 
  else: 
    tip_match[i] = 0

In [0]:
english['direct_match_for_tips'] = tip_match

In [0]:
english['direct_match_for_tips'].value_counts()

0.0    104647
1.0      2330
Name: direct_match_for_tips, dtype: int64

In [0]:
success_t = english[english['direct_match_for_tips'] == 1].shape[0]
print(success_t)

2330

In [0]:
baseline_tips = success_t / all_vals
print(baseline_tips)

0.02178038269908485

**`Match` by date**

In [0]:
date_match = np.zeros(english.shape[0])

In [0]:
for i, date in enumerate(english['match_date_time']):
  if date in english['result.tsv'].values[i] :
    date_match[i] = 1 
  else: 
    date_match[i] = 0

In [0]:
english['direct_match_for_date'] = date_match

In [0]:
english['direct_match_for_date'].value_counts()

0.0    106977
Name: direct_match_for_date, dtype: int64

In [0]:
success_d = english[english['direct_match_for_date'] == 1].shape[0]
print(success_d)

0

In [0]:
baseline_date = success_d / all_vals
print(baseline_date)

0.0

**Dataset with new columns**

In [0]:
english.head(10)

                                            result.tsv  ... direct_match_for_date
18                                                      ...                   0.0
27                                                      ...                   0.0
28                                                      ...                   0.0
34                                                      ...                   0.0
41                                                      ...                   0.0
618  Middlesbrough have woken to good times in thei...  ...                   0.0
619  Wolves prefer to attack with pace on the count...  ...                   0.0
620  In my opinion a 0-0 draw is quite likely betwe...  ...                   0.0
621  with home side Valencia having a massive advan...  ...                   0.0
622  tow side who fill the bottom two places in the...  ...                   0.0

[10 rows x 15 columns]